<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
          <%= pluralize(@user.favorites.count, 'favorites') %>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if user_has_posts?(@user) %>
    <h2>Posts</h2>
      <%= render @user.posts %>
    <% else %>
    <h2><%= @user.name %> has not submitted any posts yet.</h2>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if user_has_favorites?(@user) %>
    <h2>Favorites</h2>
      <%= render @user.favposts %>
    <% else %>
    <h2><%= @user.name %> has not favorited any posts yet.</h2>
    <% end %>
  </div>
</div>
<div class="row">
  <% if user_has_comments?(@user) %>
  <h2>Comments</h2>
    <%= render @user.comments %>
  <% else %>
  <h2><%= @user.name %> has not submitted any comments yet.</h2>
  <% end %>
</div>

<br /><br />
